<html lang="en">
<head>
  <meta charset="utf-8">

  <title>SquadrAI</title>
  <meta name="description" content="SquadrAI, AI hiring solution">
  <meta name="author" content=" ">


</head>

<body>

<nav class="navbar navbar-expand">
  <a class="navbar-brand" href="www.squadrai.com">SQUADR<b>AI</b>
  </a>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">What
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">How
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Why
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<! –– Begin: Main ––>

<section class="hero">
  <div class="hero-inner">
    <h1 class="display-3">Sucess starts with a great team</h1>
    <p class="lead">If the problem is hard, the best team doesn't consist of the best individual performers.</p>
    <p class="lead">Diversity trumps ability.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</section>
<! –– End: Main ––>

<! –– Begin: features ––>

<div class="features-header text-center">
  <h1 class="display-4">What SQUADRAI does</h1>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <h1>
        <ion-icon name="trophy-outline"></ion-icon>
      </h1>
      <h4 class="my-0 font-weight-normal">Best candidates
        <br>for your teams</h4>
      <div class="card-body">
        <p>Select the best fitting candidates for your teams using an Artificial Intelligence powered solution.</p>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <h1>
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </h1>
      <h4 class="my-0 font-weight-normal">Science-backed<br>psychology tests</h4>
      <div class="card-body">
        <p>Use the latest findings in psychometric evaluation to better understand your teams and job applicants.</p>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <h1>
        <ion-icon name="eye-off-outline"></ion-icon>
      </h1>
      <h4 class="my-0 font-weight-normal">No biases</h4>
      <div class="card-body">
        <p>Improve diversity by avoiding common biases such as gender, ethnicity, sexual orientation, disability, and others.</p>
      </div>
    </div>
  </div>
</div>
<! –– End: features ––>



  <div class="text-center mb-4">
    <h3 class="h3 mb-3 font-weight-normal">SQUADRAI is currently in private beta</h3>
    <p>Sign up with your company email to get early access.</p>
  </div>

  <% if cookies[:saved_lead] %>
    Thanks for signing up!
  <% else %>
    <%= form_with model: @subscriber do |f| %>
      <%= f.email_field :email, placeholder: "Email" %>
      <%= f.text_field :company, placeholder: "Company" %>
      <%= f.submit %>
    <% end %>
  <% end %>


<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>
      Copyright 2020 © SquadrAI. All Right Reserved.</p>
  </div>
</footer>

<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

</body>

</html>
